<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Actor Profile</title> 
</head> 
<body> 
    <div> 
        <button>Edit</button> 
        <div> 
            <a href="/dashboard">Homepage</a> | 
            <a href="/logout">Logout</a> | 
            <a href="/create/movie">Add a Movie</a> 
        </div> 
    </div> 
    <div> 
        <a href="">(Actor Name)</a> 
        <p>All movies with (Actor Name)</p> 
    </div> 
    <div>(1st movie)</div> 
    <div>(2nd movie)</div> 
    <div>(3rd movie)</div> 
    <p>Comments</p> 
</body> 
</html> 
