<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Actor Profile</title> 
    <link rel="stylesheet" href="/static/css/actor.css">
    <link rel="stylesheet" href="/static/css/movie_profile.css">
    
</head> 
<body> 
    <div class="container"> 
        <div class="movie_title">
            <h1 class="actors_profile_title">Actors Profile</h1>
        </div>
        <header>
            <div class="header_links">
                <a  class="header_link" href="#"></a>
                <a class="header_link" href="/dashboard">Dashboard</a>
                <br> <br>
                <a class="header_link" href="/logout">Logout</a>
            </div>
        </header> 
        <img src="/static/images/Group_Project_Logo.png" alt="S&S Logo" class="ss_logo">
        <div class="actor_content">
            <div id="img">
                <div class="actor_thumbnail"> 
                    <img src="{{actor.img_path}}" alt="actor image"> 
                </div>
            </div>
            <div class="actor_description">
                {%  for a in actor.movies %}
                    <p>All movies with {{a.title}} </p> 
                {% endfor  %}
                <hr class="line">
            </div>
            <div class="actor_movie_list">
                <p>{{actor.first_name }} {{actor.last_name}}</p>

                <hr class="line">
            </div>
        </div> 
    <script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="anonymous"></script>
</body> 
</html> 
