<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Actor Profile</title> 
    <link rel="stylesheet" href="/static/css/actor.css">
    <link rel="stylesheet" href="/static/css/movie_profile.css">
    
</head> 
<body> 
    <div class="container"> 
        <div class="movie_title">
            <h1>Actors Profile</h1>
        </div>
        <header>
            <div class="header_links">
                <a  class="header_link" href="#">( user username )</a>
                <a class="header_link" href="/dashboard">Dashboard</a>
                <br> <br>
                <a class="header_link" href="/logout">Logout</a>
            </div>
        </header> 
        <div class="actor_content">
            <div id="img">
                <div class="actor_thumbnail"> 
                    <img src="( movie img_path )" alt="actor image"> 
                </div>
            </div>
            <div class="actor_description">
                <p>All movies with (Actor Name)</p> 
                <hr class="line">
            </div>
            <div class="actor_movie_list">
                <p>( 1st movie )</p>
                <p>( 2nd movie )</p>
                <p>( 3rd movie )</p>
                <hr class="line">
            </div>
        </div> 
    <script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="anonymous"></script>
</body> 
</html> 
