<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Add An Actor / Actress</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <link rel="stylesheet" href="static/css/dashboard.css"> 
    <link rel="stylesheet" href="static/css/actor.css"> 
</head> 
<body> 
    <header>
        <div class="nav_bar">
            <h1>Hi, ( user username )</h1>
            <div class="header_links">
                <a class="header_link" href="/create/movie">Add A Movie</a>
                <br> <br>
                <a class="header_link" href="/logout">Logout</a>
            </div>
        </div>
    </header> 
    
    <div class="container"> 
        <form action="/create/actors" method="post"> 
            <img src="static/images/Group_Project_Logo.png" alt="logo" class="ss_logo"> 
            <p>Please add an Actor or Actress</p> 
            <div class="row">
                <div class="col-md-10 mb-4 pb-2"> 
                    <div class="form-group form-outline"> 
                        <input type="text" name="first_name" placeholder="Actor's first name" class="form-control ">
                    </div>
                    <div class="form-group form-outline">
                        <input type="text" name="last_name" placeholder="Actor's last name" class="form-control">
                    </div>
                    <div>
                        <label for="img_path">Upload an Image</label>
                        <input type=file name=file>
                    </div>
                </div> 
            </div> 
            <button type="submit">Submit</button> 
        </form>
    </div>
</body> 
</html> 
