<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/create_movie.css">
    <title>Add A Movie</title>
</head>
<body>
    <header>
        <div class="header_links">
            <a  class="header_link" href="#">{{user.username}}</a>
            <a class="header_link" href="/dashboard">Dashboard</a>
            <br> <br>
            <a class="header_link" href="/logout">Logout</a>
        </div>
    </header>
    <main>
        <form action="/upload/movie" method="post" enctype=multipart/form-data>
            <h1>Add a Movie</h1>
            {% with messages = get_flashed_messages(category_filter=['movie']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Flash AHHHHHHH!!!!</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div>
                <div class="create_movie_row">
                    <div>
                        <div class="form-group">
                            <label for="rating"><img src = "/static/images/star.png" style = height:30px; width=auto;)/>Rating:</label>
                            <input type="number" name="rating" id="rating" min="1" max="5" class="form-control form-control-lg">
                        </div>
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" name="title" class="form-control form-control-lg">
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea name="description"  cols="30" rows="5" class="form-control form-control-lg"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="img_path">Upload an Image</label>
                            <input type=file name=file>
                        </div>
                        <br>
                        <button type="submit" class = btn >Click Me</a>
                    </div>
                </div>
            </div>
        </form>
    </main>
</body>
</html>