<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <a href="/create/movie">Add A Movie</a>
    <br> <br>
    <a href="/logout">Logout</a>
    <h1>Hey there, {{user.username}}</h1>
    <h1>This is where you view allll movies</h1>


    {% for movie in movie %}
        <img src="{{movie.img_path}}" alt="">
        <p>{{movie.rating}}</p>
        <a href="/movie/{{movie.id}}">{{movie.title}}</a>
        <p>{{movie.description}}</p>
        {% if user.id == session.user_id %}
            <a href="/edit/movie/{{movie.id}}">Edit</a>
        {% endif %}
    {% endfor %}

</body>
</html>