<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/edit_movie.css"> 
    <title>Edit Movie</title>
</head>
<body>
    <header> 
        <h1>Hi, {{ user.username }}</h1>
        <div class="nav_bar">
            <div class="header_links">
                <a class="header_link" href="/create/movie">Add A Movie</a>
                <br> <br>
                <a href="/dashboard" class="header_link">Dashboard</a>
                <a class="header_link" href="/logout">Logout</a>
            </div>
        </div>
    </header> 
    <img src="{{movie.img_path}}" alt="" class="edit_movie_img">
    <form action="/update/movie/{{movie.id}}" method="post" enctype=multipart/form-data class="col-10 p-4 mx-auto d-flex justify-content-center">
        {% with messages = get_flashed_messages(category_filter=['movie']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div class="d-flex justify-content-between col-8">
            <div class="col-8">
                <div class="form-group">
                    <label for="rating"><img src = "/static/images/star.png" style = height:30px; width=auto;)/>Rating:</label>
                    <input type="number" name="rating" id="rating" min="1" max="5" class="form-control form-control-lg" value="{{movie.rating}}">
                </div>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" name="title" class="form-control form-control-lg" value="{{movie.title}}">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea name="description"  cols="30" rows="5" class="form-control form-control-lg">{{movie.description}}</textarea>
                </div>
                <div>
                    <label for="img_path">Upload an Image</label>
                    <input type="file" name="file">
                </div>
                <br>
                <input type="submit" value="Edit Movie" class="btn btn-primary" id="edit_button">
            </div>
            </div>
    </form>
</body>
</html>