<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit Movie</title>
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Welcome, {{user.username}}!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>
    </nav>

    <h1>This is where you edit a movie</h1>
    <a href="/dashboard">Dashboard</a>
    <h1>{{user.username}}</h1>
    <img src="{{movie.img_path}}" alt="">

    <form action="/update/movie/{{movie.id}}" method="post" enctype=multipart/form-data class="col-10 p-4 mx-auto d-flex justify-content-center">
        <h2 class="text-primary text-center">Add a Movie</h2>
        {% with messages = get_flashed_messages(category_filter=['movie']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        
        <div class="d-flex justify-content-between col-8">
            <div class="col-8">
                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <input type="number" name="rating" id="rating" min="1" max="5" class="form-control form-control-lg" value="{{movie.rating}}">
                </div>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" name="title" class="form-control form-control-lg" value="{{movie.title}}">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea name="description"  cols="30" rows="5" class="form-control form-control-lg">{{movie.description}}</textarea>
                </div>
                <div>
                    <label for="img_path">Upload an Image</label>
                    <input type="file" name="file">
                </div>
                <br>
                <input type="submit" value="Edit Movie" class="btn btn-primary">
            </div>
            </div>
    </form>


</body>
</html>