<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statler & Waldorf</title>
    <link rel="stylesheet" href="static/css/log_reg.css">
</head>
<body>
    <img class="logo_header" src="/static/images/Group_Project_Logo.png"></div> 
        <div class = "log_reg_form">
            <div class = "content">
                <form id="login" class="input-group-login"action="/login" method="post" >
                    {% with messages = get_flashed_messages(category_filter=['login']) %}
                        {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                    <input type="text" class="input-field" name="email" placeholder= "Email">
                    <input type="password" class="input-field" name="password" placeholder="Password">
                    <button type="submit" class="submit-btn"> Log in </button>
                </form> <br><br><br><br>
                <p>New to Statler and Waldorf? <button class="toggle" onclick="window.location.href = '/registration';">Register Now</button></p>
            </div>
        </div>
        
<script type="text/javascript" src="{{ url_for('static', filename='javascript/login.js') }}"></script>

</body>
</html>