<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Movie Profile</title> 
</head> 
<body> 
    <h1>This is the movie profile</h1> 
    <div> 
        <a href="/dashboard">Homepage</a> | 
        <a href="/logout">Logout</a> | 
        <a href="/create/movie">Add a Movie</a> 
    </div> 
    <div> 
        <a href="">(Movie Title)</a> 
        <p>CAST</p> 
    </div> 
    <div>(1st actor)</div> 
    <div>(2st actor)</div> 
    <div>(3st actor)</div> 
</body> 
</html> 
