<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/test.css">
    
    <title>Document</title>
</head>
<body>
    <main class="card">
        <div class="movie"><img src="/static/images/the_batman.jpg"></div>
        <div class="movie_info_wrapper">
            <div class="movie_info">
                <h2>The Batman <br><span class="ratings">9.5</span></h2>
                <div class="description">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Maxime aspernatur mollitia cupiditate sed dolore molestias qui amet? 
                        Omnis iure accusamus debitis modi assumenda! Veritatis totam tenetur, 
                        minima praesentium natus necessitatibus.</p>
                </div>
                <div class="actor">
                    <h4>Star</h4>
                    <p>Robert Pattinson</p>
                </div>
            </div>
        </div>
        

    </main>

    <main id="main_content">
        
            <div class="movie">
                <img src="/static/images/the_batman.jpg" alt="Image">
                <div class="movie_info">
                    <a class="movie_title" href="#">
                        <h3>The Batman</h3>                  
                    </a>
                    <span id="rating">9.5</span>
                </div>
                <div class="description">
                    <a class="movie_title_overview" href="#">
                        <h3>The Batman</h3>                  
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Reiciendis sed consectetur provident dolorum dolores unde quibusdam laboriosam iusto beatae sapiente, 
                        harum, obcaecati possimus laborum atque illo perferendis eum ut. 
                        Eligendi.</p>              
                    <div class="edit_delete_button">
                        <a href ="#">Edit</a>
                        <a href="#">Delete</a>
                    </div>
                    
                </div>
            </div>



    </main>



</body>
</html>